:root{
    --space-cadet: #1f2141; 
    --English-violet: #4b3f72;
    --sunglow: rgb(255, 200, 87);
    --dark-cyan: rgb(17, 157, 164);
    --paynes-gray: rgb(25, 100, 126);
    --floral-white: rgb(254, 249, 239);
    --smokey--white: rgb(219, 217, 221);
    --english-font-popins:'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    min-width: 360px;
}
.header-container{
    background: rgb(61,53,88);
    background: linear-gradient(18deg, rgba(61,53,88,1) 0%, rgba(75,63,114,1) 100%);
    min-width: 360px;
    width: 100vw;
    height: 200px;
    border-bottom: solid 2px var(--sunglow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.623);
    z-index: 5;
    user-select: none;
}
.avatar{
    width: 80px;
    height: 80px;
    display: flex;
    cursor: pointer;
}
.avatar:hover{
    scale: 1.1;
}

.avatar-img{
    width: 80px;
    height: fit-content;
}
.brand-name{
    width: 300px;
}
.gamer-info{
    background-color: var(--smokey--white);
    width: 350px;
    height: 200px;
    position: fixed;
    top: 0;
    right: -400px;
    border-radius: 15px 0 0 15px;
    display: block;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: all ease-in-out 500ms;
    user-select: none;
}
.gamer-info p{
    font-family: var(--english-font-popins);
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--space-cadet);
}
.gamer-info span{
    font-family: var(--english-font-popins);
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: var(--paynes-gray);
}
.gamer-info img{
    width: 100px;
    height: 100px
}
.close-btn{
    width: 20px;
    height: 200px;
    position: absolute;
    left: 10px;
    border-radius: 15px 0 0 15px;
    font-size: 40px;
    color: var(--English-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-btn i{
    cursor: pointer;;
}

.close-btn i:hover{
    color: var(--dark-cyan);
}
.hamburger-button{
    width: 40px;
    margin-left: 25px;
    user-select: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--smokey--white);
    transition: all 300ms ease-in-out;
}
.hamburger-button:hover{
    color: var(--sunglow);
}
.fade-bg{
    width: 100vw;
    height: 100vh;
    background-color: var(--space-cadet);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.6;
    display: none;
    z-index: 1;
}
.hamburger-menu{
    background-color: var(--paynes-gray);
    width: 350px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -500px;
    z-index: 5000;
    transition: all ease-in-out 600ms;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.616);
    user-select: none;
}
.fa-xmark{

    color: var(--smokey--white);
    cursor: pointer;
    margin: 75px 32px;
    font-size: 50px;
    transition: all 300ms ease-out;
}
.fa-xmark:hover{

   color: var(--sunglow);
}
.close-menu{
    width: 50px;
    margin: 50px 30px;
    user-select: none;
    cursor: pointer;
}
.menu-list a{
    text-decoration: none;
    color: var(--sunglow);
    font-family: var(--english-font-popins);
    font-size: 25px;
    font-weight: 700;
}
.menu-list ul{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.menu-list li{
    list-style: none;
    text-decoration: none;
    color: var(--sunglow);
    transition: all ease-in-out 400ms;
}
.menu-list li:hover{
    scale: 1.2;
}
.menu-list a:hover{
    color: var(--smokey--white);
}

.question-box{
    min-width: 360px;
    height: 100px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.question{
    font-family: var(--english-font-popins);
    color: var(--sunglow);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    user-select: none;
}
.answer-box{
    text-align: center;
    min-width: 360px;
    max-width: 450px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-list{
    max-width: 450px;
    min-width: 360px;
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.answer-letter{
    width: 5rem;
    height: 20px;
    border-bottom: 3px solid var(--floral-white);
    color: var(--dark-cyan);
    align-items: center;
    font-family: var(--english-font-popins);
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    margin: 0 auto;
    position: relative;
    left: -20px;
}
.guessed{
    margin: -40px 0 20px;
    border-color: transparent;
}
.keyboard-container{
   max-width: 600px;
   height: 150px;
   display: flex;
   gap: 2px 7px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 40px auto;
   padding: 0 20px ;
}
.key{
    font-family: var(--english-font-popins);
    font-weight: 600;
    width: calc(100% / 9 - 7px);
    height: 32px;
    outline: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--floral-white);
    box-shadow: 1px 1px  15px rgba(0, 0, 0, 0.63);
    cursor: pointer;;
    transition: all 300ms ease-in-out;
    user-select: none;
}
.key:hover{
    color: var(--sunglow);
    background-color:var(--paynes-gray);
    box-shadow: none;
}
.key-disabled{
    opacity: 0.8;
    background-color: var(--English-violet);
    color: var(--floral-white);
    pointer-events: none;
    box-shadow: none;
}
.popup-container{
    
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(75, 63, 114, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.popup-box{
    min-height: 360px;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    padding: 10px;
    font-family: var(--english-font-popins);
    text-align: center;
    margin: 20rem auto;
    background-color: var(--smokey--white);
    box-shadow: 5px 4px 25px rgba(0, 0, 0, 0.623);
    user-select: none;
}
.game-over{
    font-weight: 700;
    font-size: 3.5rem;
    color: var(--English-violet);
    padding: 10px;
}
.correct-word{
    color: var(--space-cadet);
    font-weight: 500;
    font-size: 1.5rem;
    
}
#correct-word{
    color: var(--paynes-gray);
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
    
}
.highest-score{
    color: var(--space-cadet);
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
}
#high-score{
    color: var(--paynes-gray);
    font-size: 2rem;
    font-weight: 700
}
.buttons button {
    font-family: var(--english-font-popins);
    background-color:var(--English-violet);
    margin: 10px;
    color: var(--floral-white);
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  }

.info-box{
    max-width: 550px;
    height: 100px;
    min-width: 360px;
    margin:0 auto;
    margin-top: 3rem;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: var(--english-font-popins);
    font-size: 20px;
    font-weight: 700;
    user-select: none;
}
.info-box-col{
    width: 150px;
    text-align: center;
    margin: 15px;
    color: var(--sunglow);
    border-bottom: 3px solid var(--paynes-gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 3px solid var(--paynes-gray);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.info-box-col p{
   padding: 5px;
}
/* background animation start */
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.area{
    background: rgb(31, 32, 65); 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    position: fixed;
    z-index: -1;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    font-family: var(--english-font-popins);
    font-size: 100px;
    font-weight: 900;
    color: var(--English-violet);
    opacity: 0.4;
    user-select: none;
    transition: all ease-in-out;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.4;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* background animation end */

