:root{
    --space-cadet: rgb(31, 32, 65); 
    --English-violet: rgb(75, 63, 114);
    --sunglow: rgb(255, 200, 87);
    --dark-cyan: rgb(17, 157, 164);
    --paynes-gray: rgb(25, 100, 126);
    --floral-white: rgb(254, 249, 239);
    --english-font-popins:'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    min-width: 360px;
}
.header-container{
    background-color: var(--English-violet);
    min-width: 360px;
    width: 100vw;
    height: 150px;
    border-bottom: solid 2px var(--sunglow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
.avatar{
    width: 80px;
    margin-right:0.5rem ;
    display: flex;
}
.brand-name{
    width: 200px;
}
.hamburger-button{
    width: 40px;
    margin-left: 25px;
}
.question-box{
    min-width: 360px;
    height: 100px;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.question{
    font-family: var(--english-font-popins);
    color: var(--sunglow);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 15px;
    user-select: none;
}
.answer-box{
    min-width: 360px;
    max-width: 450px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-list{
    max-width: 450px;
    min-width: 360px;
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.answer-letter{
    width: 40px;
    height: 20px;
    border-bottom: 3px solid var(--floral-white);
    position: relative;
    left: -20px;
    color: var(--dark-cyan);
    align-items: center;
    font-family: var(--english-font-popins);
    font-size: 2.8rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
}
.guessed{
    margin: -40px 0 20px;
    border-color: transparent;
}
.keyboard-container{
   max-width: 600px;
   height: 150px;
   display: flex;
   gap: 2px 7px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 150px auto;
   padding: 0 20px ;
}
.key{
    font-family: var(--english-font-popins);
    font-weight: 600;
    width: calc(100% / 9 - 7px);
    height: 32px;
    outline: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--floral-white);
    box-shadow: 1px 1px  15px rgba(0, 0, 0, 0.63);
    cursor: pointer;;
    transition: all 300ms ease-in-out;
}
.key:hover{
    color: var(--sunglow);
    background-color:var(--paynes-gray);
    box-shadow: none;

}
.key-disabled{
    opacity: 0.8;
    background-color: var(--English-violet);
    color: var(--floral-white);
    pointer-events: none;
    box-shadow: none;
}