@font-face {
    font-family: yekan;
    src: url(../fonts/yekan/yekan-regular.eot);
    src: url(../fonts/yekan/yekan-regular.ttf);
    src: url(../fonts/yekan/yekan-regular.woff);
}
@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff'),   
	url('../fonts/woff/IRANSansX-Regular.woff') format('woff2');	
}


:root{

    --persian-font-sans: IRANSansX;
}

.menu-list a{
    text-decoration: none;
    color: var(--sunglow);
    font-family: var(--persian-font-sans);
    font-size: 25px;
    font-weight: 700;
}

/* background animation */
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    font-family: yekan;
    font-size: 150px;
    font-weight: 900;
    color: var(--English-violet);
    opacity: 0.3;
    user-select: none;
    
}

.keyboard-container{
    direction: rtl;
}

.question-box p{
    font-family: IRANSansX;
    font-weight: 700;
}

.answer-box{
    font-family: IRANSansX;
    direction: rtl;
    text-align: center;
    min-width: 360px;
    max-width: 450px;
    height: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-letter{
    left: 20px;
}

.info-box-col p{
    font-family: IRANSansX;
}
.answer-box{
    font-family: var(--persian-font-sans);
}
.answer-list{
    font-family: var(--persian-font-sans);
}
.answer-letter{
    font-family: var(--persian-font-sans);
    font-weight: 700;
}

.key{
    font-family: var(--persian-font-sans);
    direction: rtl;
    font-weight: 900;
    text-align: center;
    width: calc(100% / 9 - 7px);
    height: 35px;
    outline: none;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    background-color: var(--dark-cyan);
    color: var(--floral-white);
    box-shadow: 1px 1px  15px rgba(0, 0, 0, 0.63);
    cursor: pointer;;
    transition: all 300ms ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    user-select: none;

}

.key-disabled{
    opacity: 0.8;
    background-color: var(--English-violet);
    color: var(--floral-white);
    pointer-events: none;
    box-shadow: none;
}

.popup-container p{
    font-family: var(--persian-font-sans) ; 
}
.game-over{
    font-weight: bold;
    font-size: 3.5rem ;
    margin-top: -10px;

}   
#correct-word {
    font-weight: 700;
}
#high-score{
    font-weight: 700;
    
}

.buttons button {
    letter-spacing: 0;
  }

  .gamer-info p{
    font-family: var(--persian-font-sans);
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--space-cadet);
}
.gi-id{
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: var(--paynes-gray);
}